

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

*{
	padding:0;
	margin:0;
	border:none;
	box-sizing: border-box;
}

/*header*/

.containerheadermobile
{
	display: none;
}

.logoinscrire
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.containerheader
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.menu
{
	display: flex;
	align-items: center;
}

.ancres
{
	display: flex;
	justify-content: space-between;
}

.ancreseule
{
	margin-right: 20px;
	width: 50%;
	padding: 27px;
	text-align: center;
	transition:all 200ms;
}


.ancreseule:hover
{
	color:#0065FC;
	font-weight: bold;
	border-top: solid;
	border-color:#0065FC;
}

a
{
	text-decoration:none;
	color: black;
}


.inscrire
{
	font-weight: bold;
	color:#0065FC;
	margin-right: 0;
	margin-left: 10px;
	padding: 30px;
}

.grostitre
{
	margin-top: 20px;
	margin-bottom: 10px;
}


.button
{
	color: white;
}


.recherchebarre
{
	display: flex;
	margin-top: 20px;
}

input
{	
	height: 35px;
	border-bottom-left-radius: 10px;
	border-top-left-radius:10px;
	border: none;
	display: flex;
	align-items:center;
	margin-left: 7px;
}

.iconemap
{
	background-color:#F2F2F2; 
	height:40px;
	width: 30px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px; 
	display: flex;
	align-items:center;
	justify-content: center;
}

.iconeinput
{
	border:solid;
	border-width: 1px;
	border-color:#F2F2F2;
	display: flex;
	flex-direction: row;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px; 
}


button
{
	background-color: #0065FC;
	border:none;
	color: white;
	height: 42px;
	border-bottom-right-radius:10px;
	border-top-right-radius: 10px;
	padding-right: 20px;
	padding-left: 20px;
	font-weight: bold;
}

.iconesearch
{
	display: none;
}


.titrefiltre
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}


.Filtres
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}


.filtres2
{
	margin-right: 30px;
	margin-top: 20px;
	padding: 5px;
	font-weight: bold;
}


.iconenom
{
	display: flex;
	margin-right: 50px;
	margin-top: 20px;
	border: solid;
	border-width:2px;
	border-color: #F2F2F2;
	border-radius: 70px;
	align-items:center;
	justify-content: center;
	font-weight:bold;
	border-left:none;
	padding-right:8px;
	padding-top:1px;
	padding-bottom:1px;
	transition:all 600ms;
}

.iconenom:hover
{
	background-color:#DEEBFF;
	color: #0065FC;
}


.iconemoney
{
	color:#0065FC;
	border-radius:100%;
	padding:10px;
	background-color:#DEEBFF;
	margin:-2px;
}


.iconeman
{
	color:#0065FC;
	border-radius:100%;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:13px;
	padding-right:13px;
	background-color:#DEEBFF;
	margin: -2px;
}



.iconecoeur
{
	color:#0065FC;
	border-radius:100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 13px;
	padding-left: 13px;
	background-color:#DEEBFF;
	margin:-2px;
}


.iconedog
{
	color:#0065FC;
	border-radius:100%;
	padding: 10px;
	background-color:#DEEBFF;
	margin:-2px;
}

.Filtres span
{
	margin-left: 10px;
}

/*info*/

.info
{
	display: flex;
	flex-direction: row;
	align-items:center;
	margin-bottom: 20px;
}

.iconeinfo
{
	border: solid;
	border-width: 2px;
	border-color: #F2F2F2;
	border-radius: 50%;
	padding-right:7px;
	padding-left: 7px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: blue;
	margin-top: 20px;
	font-size: 13px;
}

.infophrase
{
	margin-left: 7px;
	margin-top: 20px;
	font-size: 12px;
}


/*body*/




.allsection
{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}


/*Hébergements Marseille*/



#section1
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width:850px;
	height:550px;
	background-color:#F2F2F2;
	padding: 20px;
	border-radius: 17px;
	margin: 0;
	margin-right: 40px;
}

.hebergements
{
	position: absolute;
	margin-left: 20px;
	font-size: 20px;
}

.cases1
{
	background-color: white;
	border-radius: 17px;
	padding: 1px;
	margin: 10px;
	margin-top: 35px;
	height: auto;
	width: auto;
	font-size: 12px;
	box-shadow: 0 0px 15px rgba(0, 0, 0, .2);
	transform: scale(1);
	transition: 400ms;
}


.cases1:hover
{
	transform: scale(1.05);
}


.images1
{	height: 110px;
	width:230px;
	border-top-right-radius: 17px;
	border-top-left-radius: 17px;
	object-fit: cover;
	padding:3px;
}

.txt1
{
	display: flex;
	flex-direction: column;
}

.prix1
{
	margin:6px;
	margin-top: 0px;
}

p
{
	margin:0;
}


h3
{
    font-size: 16px;
    margin:6px;
}


.iconestar1
{
	display: flex;
	flex-direction: row;
	color: #0065FC;
	margin:6px;
}

.greystar
{
	color: #F2F2F2;
}

.afficherplus
{
	font-weight: bold;
	margin-top: 20px;
	margin-left:20px;
	margin-bottom:10px;
	display: flex;
	align-self: flex-end;
}


/*Les plus populaires*/

.section1et2
{
	display: flex;
}



#section2
{
	display: flex;
	flex-flow: column wrap;
	background-color: #F2F2F2;
	width:340px;
	padding: 20px;
	border-radius: 17px;
}

.titre2
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


.populaires
{
	font-size:20px; 
	margin-left: 10px;
	margin-bottom: 20px;
}

.iconefleche
{
	margin-bottom: 18px;
}

.cases2
{
	display: flex;
	flex-direction:row;
	background-color: white;
	border-radius: 17px;
	padding: 1px;
	font-size: 12px;
	margin-bottom: 10px;
	margin-top: 10px;
	box-shadow: 0 0px 15px rgba(0, 0, 0, .2);
	transform: scale(1);
    transition: 400ms;
}

.cases2:hover
{
    transform: scale(1.05);
}


.images2
{
	height: 127px;
	width:115px;
	border-bottom-left-radius: 17px;
	border-top-left-radius: 17px;
	display: flex;
	object-fit: cover;
	padding: 3px;
}

.txt2
{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	justify-content: left;
}

.prix2
{
	margin-left: 5px;
}


.iconestar2
{
	display: flex;
	flex-direction: row;
	color: #0065FC;
	margin: 0;
	margin-top: 30px;
	margin-left: 5px;
}


/*Activités*/

#section3
{
	margin-top: 30px;
	display: flex;
	margin-left:-15px;
}

.activites
{
	position: absolute;
	margin-left: 20px;
}

.cases3
{
	background-color: white;
	border-radius: 17px;
	box-shadow: 0 0px 15px rgba(0, 0, 0, .2);
	margin-top: 80px;
	margin-right: 20px;
	margin-left: 20px;
	padding-bottom: 0;
	transform: scale(1);
	transition: 400ms;
}

.cases3:hover
{
	transform: scale(1.05);
}


.images3
{
	height: 302px;
	width:275px;
	border-top-right-radius: 17px;
	border-top-left-radius: 17px;
	object-fit: cover;
}

.images3petit
{
	height: 95px;
	width: 268px;
	border-top-right-radius: 17px;
	border-top-left-radius: 17px;
	object-fit: cover;
}

.imgpetit
{
	display: flex;
	flex-direction: column;
}

.txt3
{
	padding-left: 10px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	margin-top: 3px;
}


/*footer*/

.totalfooter
{	
	max-width:1240px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 35px;
	display: flex;
	justify-content:space-between;
}

footer
{
	background-color: #F2F2F2;
}

.footertxt
{
	display: flex;
	flex-direction: column;
	width:30%;
}

.footertitle
{
	padding-bottom: 5px;
}

footer a
{
	padding-bottom:5px;
}

footer a:hover
{
	color: #0065FC;
	font-weight: bold;
}


#blocpage
{
	margin:0 auto;
	max-width:1240px;
}
 

body
{
	font-family:Raleway,Arial,sans-serif;
}

@media screen and (max-width: 1270px)
{


	.grostitre,header p,.recherchebarre,.titrefiltre,.info
	{
		padding-left:20px;
	}



	#section3
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width:auto;
	}

	.imgpetit
	{	
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.images3petit,.images3
	{
		height: 210px;
		width: 255px;
		object-fit: cover;
	}


	footer
	{
		height: auto;
		padding-left: 2rem;
	}

	.section1et2
	{
		display: flex;
		flex-wrap: wrap-reverse;
	}

	#section2
	{
		flex: 1;
		width:100%;
		border-radius:0;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.cases2
	{
		margin-left: 10px;
	}

	#section1
	{	
		width: auto;
		justify-content: center;
		background-color:white;
	}

	.afficherplus
	{
		display: none;
	}
}



@media screen and (max-width: 925px)
{
	body
	{
		width:fit-content;
	}


	.containerheader
	{
		display: none;
	}

	.containerheadermobile
	{
		display: block;
		margin: 0 auto;
	}

	.ancres
	{
		border-bottom: solid;
		border-color: #F2F2F2;
	}

	.ancres:hover
	{
		border:none;
	}

	.ancreseule
	{
		transition:all 200ms;
	}

	.ancreseule:hover
	{	
		color:#0065FC;
		font-weight: bold;
		border-top: none;
		border-bottom:solid;
		border-color: #0065FC;
	}

	#section1
	{	display: flex;
		flex-wrap: wrap;
		height: auto;
		width: auto;
	}
	
	.cases1
	{
		display: flex;
		flex-direction: column;
	}

	.images1
	{
		border-top-left-radius: 17px;
		border-top-right-radius: 17px;
		height:110px;
		width: 230px;
	}

	.totalfooter
	{
		display: flex;
		flex-direction: column;
		padding-left:1em;
	}

	.footertxt
	{
		margin-bottom: 20px;
	}
}

@media screen and (max-width:612px)
{
	.logoinscrire,.grostitre,header p,.recherchebarre,.titrefiltre,.info
	{
		padding-left:30px;
	}

	.inscrire,.grostitre
	{
		padding-right:21px;
	}

	button
	{
		display: none;
	}

	.iconesearch
	{
		display: flex;
		color: white;
		background-color:#0065FC;
		height: 42px;
		width: 25px;
		align-items: center;
	    justify-content: center;
	    padding:20px;
	    border-radius: 13px;
	    margin-left:-8px;
	}

	.iconeinput
	{
		margin-bottom: 30px;
	}


	.populaires
	{
		margin-left: 12px;
	}

	#section1
	{	display: flex;
		flex-direction:column;
		margin: 0;
	}

	.hebergements
	{
		position: static;
		margin-left: 15px;
	}

	.images1
	{
		width:100%;
		height:200px;
	}

	.afficherplus
	{
		display:flex;
		place-self:flex-start;
	}

	#section3
	{
		margin: 0;
	}

	.activites
	{
		margin-right: 11rem;
	    position: static;
	    margin-left: 0;
	}

	.images3,.images3petit
	{
		width:25em;
	}

}


@media screen and (max-width: 390px)

{
	.iconeinput 
	{
		margin-bottom :30px;
	}

}

