/*header*/

nav ul
{
    list-style-type: none;
    display:flex;
    padding: 0;
}

ul
{
	margin-block-start:0;
	margin-block-end:0;
}

nav li
{
	margin-right: 20px;
}


li
{
	border-top: transparent;
	padding: 30px;
	transition:all 400ms;

}
li:hover
{
	color:#0065FC;
	border-top: solid;
	border-color:#0065FC;
}


#logo
{
	margin: 0;
}



.Logohaut
{height:50px;
width: 95px;}

.headerNav
{
	display: flex;
}

.containerheader
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.inscrire
{
	font-weight: bold;
	color: #0065FC;
	margin-right: 0;
}


.recherchebarre
{
	display: flex;
	margin-top: 20px;
}

input
{	
	height: 35px;
	border-bottom-left-radius: 10px;
	border-top-left-radius:10px;
	border: none;
	display: flex;
	align-items:center;
	margin-left: 7px;
}

.iconemap
{
	background-color:#F2F2F2; 
	height:40px;
	width: 30px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px; 
	display: flex;
	align-items:center;
	justify-content: center;
}

.iconeinput
{
	border:solid;
	border-width: 1px;
	border-color:#F2F2F2;
	display: flex;
	flex-direction: row;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px; 
}


button
{
	background-color: #0065FC;
	border:none;
	color: white;
	height: 42px;
	border-bottom-right-radius:10px;
	border-top-right-radius: 10px;
	padding-right: 20px;
	padding-left: 20px;
	font-weight: bold;
}

.Filtres
{
	display: flex;
	flex-direction: row;
	align-items: center;
}


.filtres2
{
	margin-right: 30px;
	margin-top: 20px;
	padding: 5px;
	font-weight: bold;
}


.iconenom
{
	display: flex;
	margin-right: 30px;
	margin-top: 20px;
	border: solid;
	border-width: 2px;
	border-color: #F2F2F2;
	border-radius: 20px;
	align-items:center;
	font-weight: bold;
	border-left: none;
	padding-right:8px;
	padding-top:4px;
	padding-bottom: 4px;
	transition:all 400ms;
}

.iconenom:hover
{
	background-color:#DEEBFF;
	border:solid;
	border-color:#0065FC;
	border-width: 2px;
}


.iconemoney
{
	border:transparent;
	border-color:#0065FC;
	color:#0065FC;
	border-radius: 50px;
	padding: 10px;
	background-color:#DEEBFF;
	margin-right: 8px;
	font-size: 15px;
}


.iconeman
{
	border:transparent;
	border-color:#0065FC;
	color:#0065FC;
	border-radius: 50px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color:#DEEBFF;
	margin-right: 8px;
}



.iconecoeur
{
	border:transparent;
	border-color:#0065FC;
	color:#0065FC;
	border-radius: 50px;
	padding: 10px;
	background-color:#DEEBFF;
	margin-right: 8px;
}


.iconedog
{
	border:transparent;
	border-color:#0065FC;
	color:#0065FC;
	border-radius: 50px;
	padding: 10px;
	background-color:#DEEBFF;
	margin-right: 8px;
}


/*info*/

.info
{
	display: flex;
	flex-direction: row;
	align-items:center;
	margin-bottom: 20px;
}

.iconeinfo
{
	border: solid;
	border-width: 2px;
	border-color: #F2F2F2;
	border-radius: 50%;
	padding-right:7px;
	padding-left: 7px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: blue;
	margin-top: 20px;
	font-size: 13px;
}

.infophrase
{
	margin-left: 7px;
	margin-top: 20px;
	font-size: 12px;
}


h1
{
	font-size: 20px;
}

/*body*/


/*Hébergements Marseille*/

.allsection
{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}


#section1
{
	display: flex;
	flex-wrap: wrap;
	width: 786px;
	background-color: #F2F2F2;
	padding: 20px;
	border-radius: 17px;
	margin: 0;
	margin-right: 40px;
}

.hebergements
{
	margin-block-end:0;
	margin-block-start:0;
	position: absolute;
	margin-left: 20px;
	font-size: 20px;
}

.cases1
{
	background-color: white;
	border-radius: 17px;
	padding: 1px;
	border:solid;
	border-color: white;
	margin: 10px;
	margin-top: 35px;
	height: auto;
	width: auto;
	font-size: 12px;
	box-shadow: 0 0px 15px rgba(0, 0, 0, .2);
	transform: scale(1);
	transition: 400ms;
}


.cases1:hover
{
	transform: scale(1.05);
}


.images1
{	height: 110px;
	width:230px;
	border-top-right-radius: 17px;
	border-top-left-radius: 17px;
	object-fit: cover;
}

.txt1
{
	display: flex;
}

p
{
	margin: 0;
}


h3
{
	margin-block-end:0;
    margin-block-start:0;
    font-size: 16px;
}


.iconestar1
{
	display: flex;
	flex-direction: row;
	color: #0065FC;
	margin: 0;
}

.greystar
{
	color: #F2F2F2;
}

.afficherplus
{
	font-weight: bold;
	margin-top: 20px;
	margin-left:20px;
	margin-bottom:10px;
}


/*Les plus populaires*/

#section2
{
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	width:300px;
	padding: 20px;
	border-radius: 17px;
}

.titre2
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


.populaires
{
	font-size:20px; 
	margin-left: 10px;
}

.cases2
{
	display: flex;
	flex-direction:row;
	background-color: white;
	border-radius: 17px;
	padding: 1px;
	border:solid;
	border-color: white;
	font-size: 12px;
	margin-bottom: 10px;
	margin-top: 10px;
	box-shadow: 0 0px 15px rgba(0, 0, 0, .2);
	transform: scale(1);
    transition: 400ms;
}

.cases2:hover
{
    transform: scale(1.05);
}


.images2
{
	height: 110px;
	width:115px;
	border-bottom-left-radius: 17px;
	border-top-left-radius: 17px;
	display: flex;
	object-fit: cover;
}

.txt2
{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}


.iconestar2
{
	display: flex;
	flex-direction: row;
	color: #0065FC;
	margin: 0;
	margin-top: 30px;
}


/*Activités*/

#section3
{
	display: flex;
	margin-top: 30px;
}

.activites
{
	position: absolute;
	margin-left: 25px;
}

.cases3
{
	background-color: white;
	border-radius: 17px;
	box-shadow: 0 0px 15px rgba(0, 0, 0, .2);
	margin-top: 57px;
	margin-right: 20px;
	margin-left: 20px;
	padding-bottom: 0;
	transform: scale(1);
	transition: 400ms;
}

.cases3:hover
{
	transform: scale(1.05);
}


h5
{
	margin-block-start:0;
	margin-block-end:0;
}


.images3
{
	height: 300px;
	width:260px;
	border-top-right-radius: 17px;
	border-top-left-radius: 17px;
	object-fit: cover;
}

.images3petit
{
	height: 105px;
	width: 255px;
	border-top-right-radius: 17px;
	border-top-left-radius: 17px;
	object-fit: cover;
}

.imgpetit
{
	display: flex;
	flex-direction: column;
}

.txt3
{
	padding-left: 10px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	margin-top: 3px;
}


/*footer*/

footer
{
	display: flex;
	background-color: #F2F2F2;
	text-align: left;
	height: 185px;
	font-size:small;
}

.footertitle
{
	font-weight: bold;
}



.footertxt
{
	display: flex;
	flex-direction: column;
	margin-right:150px;
	margin-left: 40px;
	line-height: 2;
	font-weight: lighter;
	justify-content: center;
}




body
{
	font-family:Raleway-Regular,Arial,sans-serif;
	margin: 0;
	max-width: 1300px;
	margin: 0;
	margin:auto;
}

